
:root {
    --blue-button-color: #0061ff;
    --background-jumbo-color: #B4D0E7;
}
/*#region Header*****/

header {
    background-color: #fff;
    height: 60px;
    padding: 0px 10px;
    font-size: 0.9rem;
}

header > div > div *:not(a) {
    margin: 1rem;
}

header img {
    width: 100px
}


header a {
    margin: 0.5rem;
}

header a:last-child {
    background-color: var(--blue-button-color);
    padding: 0.5rem 1rem;
    color: #fff;
}
/*#endregion Header*****/


/*#region jumbotron*****/
.jumbo {
    background-color: var(--background-jumbo-color);
    height: calc(99vh - 60px);
}

/*#endregion jumbotron*****/


/*#region pricing*****/


 #pricing {
    height: 150vh;
    flex-grow: 1;
 }




#radio {
    margin-top: 50px;
}

#radio label {
    margin-right: 2rem
}
.colWrapper {
    padding-top: 2rem
}

.colWrapper > div {

    column-gap: 1rem;
}

.colWrapper > div > div,
.colWrapper > div.col {
    background-color: red;
    width: 100%;
}
.colWrapper > div > div {
    height: 100vh
}
.colWrapper > div.col {
    margin-top: 1rem;
    height: 20vh
}
/*#endregion pricing*****/

/*#region partner card*****/
#partner {
    column-gap: 4rem;
}
#partner > div:last-child {
    padding-right: 50px;
}

/*#endregion partner card*****/
