:root {
  --blue-button-color: #0061ff;
  --background-jumbo-color: #b4d0e7;
}

/*#region Header*****/

header {
  background-color: #fff;
  height: 60px;
  padding: 0px 10px;
  font-size: 0.9rem;
}

header > div > div *:not(a) {
  margin: 1rem;
}

header img {
  width: 100px;
}

header a {
  margin: 0.5rem;
}

header a:last-child {
  background-color: var(--blue-button-color);
  padding: 0.5rem 1rem;
  color: #fff;
}
/*#endregion Header*****/

/*#region jumbotron*****/
.jumbo {
  background-color: var(--background-jumbo-color);
  height: calc(99vh - 60px);
}

/*#endregion jumbotron*****/

/*#region pricing*****/

#pricing {
  height: 150vh;
  flex-grow: 1;
}

#radio {
  margin-top: 50px;
}

#radio label {
  margin-right: 2rem;
}
.colWrapper {
  padding-top: 2rem;
}

.colWrapper > div {
  column-gap: 1rem;
}

.colWrapper > div > div,
.colWrapper > div.col {
  background-color: red;
  width: 100%;
}
.colWrapper > div > div {
  height: 100vh;
}
.colWrapper > div.col {
  margin-top: 1rem;
  height: 20vh;
}
/*#endregion pricing*****/

/*#region partner card*****/
#partner {
  margin-top: 20px;
  column-gap: 4rem;
}
#partner > div:last-child {
  padding-right: 50px;
}

/*#endregion partner card*****/

/*#region Floating cards*****/
#floatingCards .card {
  width: calc(100% / 3 - 2rem);
  justify-items: center;
}
/*#endregion Floating cards*****/

/*#region BigText1*****/
.bigtext > a {
  margin-top: 2rem;
}
/*#endregion BigText1*****/

/*#region review*****/
#review {
  margin-top: 150px;
  width: 100%;
}

.company {
  width: calc(100vw / 6);
  height: calc(100vw / 6);
  background-color: #61082b;
}
/*#region color company*****/
.green {
  background-color: #a2d39b;
}
.lightBlue {
  background-color: #0093ce;
}
.red {
  background-color: #ff1c1c;
}

.darkRed {
  background-color: #d5001f;
}

.blue {
  background-color: #0d2481;
}

.lightestBlue {
  background-color: #b4d0e7;
}

.yellow {
  background-color: #ffd830;
}

.grey {
  background-color: #f5f5f5;
}
/*#endregion color company*****/

#review > div >div {
    width: calc(100% / 3 )
}

#review .left-company > div > *, #review .right-company > div > * {
    width: calc(100% / 2)
    
}

#review .marked {
   background-color: brown;
   height: calc((100vw / 6)* 2 )
}
/*#endregion review*****/

/*#region bigtext2*****/
#bigtext2 {
    padding : 80px 0px;

}
#bigtext2 > div {
    max-width: 1080px;
    margin: 0 auto;
    justify-content : space-around;
    
}
/*#endregion bigtext2*****/