/*#region general*****/
:root {
  --blue-button-color: #0061ff;
  --background-jumbo-color: #b4d0e7;
}
a {
  color: inherit;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
/*#endregion general*****/

/*#region Header*****/

header {
  background-color: #fff;
  height: 60px;
  width: 100vw;
  padding: 0px 10px;
  font-size: 0.9rem;
  position: fixed;
}

header > div > div *:not(a) {
  margin: 1rem;
}

header img {
  width: 100px;
}

header a {
  margin: 0.5rem;
}

header a:last-child {
  background-color: var(--blue-button-color);
  padding: 0.5rem 1rem;
  color: #fff;
}
/*#endregion Header*****/

/*#region main*****/
/*#endregion main*****/

/*#region jumbotron*****/
.jumbo {
  background-color: var(--background-jumbo-color);
  height: calc(99vh - 60px);
}

/*#endregion jumbotron*****/

/*#region pricing*****/

#pricing {
  height: 150vh;
  flex-grow: 1;
}

#radio {
  margin-top: 50px;
}

#radio label {
  margin-right: 2rem;
}
.colWrapper {
  padding-top: 2rem;
}

.colWrapper > div {
  column-gap: 1rem;
}

.colWrapper > div > div,
.colWrapper > div.col {
  background-color: red;
  width: 100%;
}
.colWrapper > div > div {
  height: 100vh;
}
.colWrapper > div.col {
  margin-top: 1rem;
  height: 20vh;
}
/*#endregion pricing*****/

/*#region partner card*****/
#partner {
  margin-top: 20px;
  column-gap: 4rem;
}
#partner > div:last-child {
  padding-right: 50px;
}

/*#endregion partner card*****/

/*#region Floating cards*****/
#floatingCards .card {
  width: calc(100% / 3 - 2rem);
  justify-items: center;
}
/*#endregion Floating cards*****/

/*#region BigText1*****/
.bigtext > a {
  margin-top: 2rem;
}
/*#endregion BigText1*****/

/*#region review*****/
#review {
  margin-top: 150px;
  width: 100%;
}

.company {
  width: calc(100vw / 6);
  height: calc(100vw / 6);
  background-color: #61082b;
}
#review .marked {
  background-color: brown;
  height: calc((100vw / 6) * 2);
}
/*#region color company*****/
.green {
  background-color: #a2d39b;
}
.lightBlue {
  background-color: #0093ce;
}
.red {
  background-color: #ff1c1c;
}

.darkRed {
  background-color: #d5001f;
}

.blue {
  background-color: #0d2481;
}

.lightestBlue {
  background-color: #b4d0e7;
}

.yellow {
  background-color: #ffd830;
}

.grey {
  background-color: #f5f5f5;
}
/*#endregion color company*****/

#review > div > div {
  width: calc(100% / 3);
}

#review .left-company > div > *,
#review .right-company > div > * {
  width: calc(100% / 2);
}

/*#endregion review*****/

/*#region bigtext2*****/
#bigtext2 {
  padding: 80px 0px;
}
#bigtext2 > div {
  max-width: 1080px;
  margin: 0 auto;
  justify-content: space-around;
}
/*#endregion bigtext2*****/

/*#region faq*****/

#faq details {
  border-top: 1px solid black;
  padding: 3rem;
  line-height: 1.2rem;
  transition: height 0.4s linear;
  overflow: hidden;
}

#faq details[open] {
  height: 300px;
}

#faq details:not([open]) {
  height: 10px;
}


#faq summary {
  list-style: none;
  position: relative;
}

#faq summary {
  cursor: pointer;
}

/*#region MARKER ROTATION*****/
#faq summary::after {
  content: "▶";
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(180deg);
  transition: transform 500ms ease;
}
#faq details[open] summary:after {
  transform: rotate(90deg);
}

/*#endregion MARKER ROTATION*****/


#faq details p {
  margin-top: 1rem;
}

#faq h2 {
  margin-bottom: 70px;
}

#faq:last-child {
  border-bottom: 1px solid black;
}

/*#endregion faq*****/

/*#region footer*****/
footer {
  height: 80vh;
  background-color: rgb(14, 14, 14);
  color: white;
  margin-top: 110px;
}

footer > div {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 70px;
}

footer li {
  list-style: none;
  margin: 0.8rem;
  font-size: 0.8rem;
}

footer ul li:first-child {
  font-size: 1.1rem;
  font-weight: 800;
  margin-bottom: 15px;
}

footer hr {
  max-width: 10%;
  margin-bottom: 50px;
}
/*#endregion footer*****/
