/*#region general*****/
:root {
  --blue-button-color: rgba(0, 98, 255, 0.7);
  --background-jumbo-color: #b4d0e7;
  --border-for-modality: rgba(0, 0, 0, 0.24);
}
a {
  color: inherit;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.button-generic {
  background-color: var(--blue-button-color);
  padding: 0.5rem 1rem;
  line-height: 1rem;
  color: #fff;
}
.button-generic:hover {
  background-color: rgba(0, 98, 255, 1);
  text-decoration: none;
}
 .button-generic.border {
  max-width: 60%;
  text-align: center;
  background-color: rgb(0,0,0,0);
  color: rgb(0,0,0);
  border : 1px solid black

}
 .button-generic.border:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}
/*#endregion general*****/

/*#region Header*****/

header {
  background-color: #fff;
  height: 60px;
  width: 100vw;
  padding: 0px 30px;
  font-size: 0.9rem;
  position: fixed;
  z-index: 1;
}

header > div > div *:not(a) {
  margin: 1rem;
}

header img {
  width: 100px;
}

header a {
  display: block;
  
  margin: 0.5rem;
}
header a:not(.button-generic) {
  line-height: 60px;
}

header a:hover:not(.button-generic) {
  text-decoration: none;
  margin-top: 10px;
  border-bottom: 2px solid black;
}
/*#endregion Header*****/

/*#region main*****/
main {
}
/*#endregion main*****/

/*#region jumbotron*****/
#jumbo {
  background-color: var(--background-jumbo-color);
}
#jumbo > div {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: -30px;
  padding-top: 100px
}

#jumbo .subtitles {
  width: 30%;
}

#jumbo-image {
  width: 100%;
  max-width: 800px;
  position: relative;
  right: 0;
  top: 50px;
}
#jumbo-image > img {
  width: 100%;
}
#jumbo .button-generic {
  align-self: flex-start;
}

#jumbo h1 {
  font-size: 4.5rem;
  font-weight: bold;
}

#jumbo > .col > .row {
  margin-top: 10px;
}


#jumbo .subtitles > *:not(.freccia) {
  margin-top: 2rem;
}
#jumbo .subtitles {
  margin-top: 25px;
}

#jumbo .freccia {
  padding-top: 20px;
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.7);
  width: 2rem;
}
#jumbo .freccia:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
/*#endregion jumbotron*****/

/*#region pricing*****/

#pricing {
  flex-grow: 1;
}
#pricing h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

/*#region Radio*****/
#radio {
  margin-top: 50px;
  font-size: 1.2rem;
}
#radio2 {
  margin-left: 1rem;
}

#radio input[type="radio"] {
  accent-color: var(--blue-button-color);
  width: 1.5rem;
  height: auto;
}

#radio label {
  margin-right: 2rem;
  margin-left: 5px;
}
/*#endregion Radio*****/

/*#region modality*****/
#pricing  .colWrapper {
  padding-top: 2rem;
}

#pricing .colWrapper > div {
  column-gap: 1rem;
}

#pricing .colWrapper > div > div,
#pricing .colWrapper > div.col {
  width: 100%;
}
#pricing .modality {
  /* height: 100vh; */
  padding: 10px 0px;
  border: 1px solid var(--border-for-modality);
}
#pricing .colWrapper > div.col {
  margin-top: 1rem;
}


#pricing .modality-header {
  width: 100%;
  border-bottom: 1px solid var(--border-for-modality);
  text-align: center;
  padding-bottom: 10px;
}

#pricing .modality-main {
  padding: 30px;;
}

#pricing .modality-main > div:not(.modality-price) > * {
  margin-top: 1rem;
}



#pricing .modality-price> :first-child {
  margin-top: 1rem
}
#pricing .modality-price >:last-child {
  color: rgba(0, 0, 0, 0.56);
  margin-top: 0.5rem
}

#pricing .modality-function {
  font-size: 1rem;
  margin-top: 2rem;
}

#pricing .modality-button {
  margin: 5rem 0px;
}
#pricing .modality-button .button-generic{
  padding: 15px 25px;
  text-align: center;
}

#pricing .checked::before {
  content: "✔";
  float: left;
  color: var(--blue-button-color);
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

#pricing .checked::after {
  clear: both;
}

#pricing .modality-main.long h3{
  margin-top: 0 !important;
}
#pricing .modality-main.long .button-generic {
  margin-top: 0 !important;
}

#pricing .modality-main.long .modality-footer{
  margin-top: 4rem;
} 

/*#endregion modality*****/



/*#endregion pricing*****/

/*#region partner card*****/
#partner {
  margin-top: 150px;
  column-gap: 3rem;
}


/*#endregion partner card*****/

/*#region Floating cards*****/
#floatingCards h1 {
  font-size: 2.5rem;
}
#floatingCards .card {
  width: calc(100% / 3 - 2rem);
  justify-items: center;
  margin-top: 2rem;
}
#floatingCards img {
  width: 100%;
}
/*#endregion Floating cards*****/

/*#region BigText1*****/
#bigtext1 h2 {
  font-size: 2.5rem;
}
.bigtext > a {
  text-decoration: underline;
  color: var(--blue-button-color);
  margin-top: 2rem;
}
/*#endregion BigText1*****/

/*#region review*****/
#review {
  margin-top: 150px;
  width: 100%;
}

.company {
  width: calc(100vw / 6);
  height: calc(100vw / 6);
  background-color: #61082b;
}
#review .marked {
  background-color: #f5f5f5;
  height: calc((100vw / 6) * 2);
  padding: 0.5rem 2rem;
}

#review .marked svg {
  width: 50%;

}

#review .marked hr {
  max-width: 30%;
}

#review .marked p {
  font-size: 0.9rem;
  font-weight: lighter;
}


/*#region color company*****/
.green {
  background-color: #a2d39b;
}
.lightBlue {
  background-color: #0093ce;
}
.red {
  background-color: #ff1c1c;
}

.darkRed {
  background-color: #d5001f;
}

.blue {
  background-color: #0d2481;
}

.lightestBlue {
  background-color: #b4d0e7;
}

.yellow {
  background-color: #ffd830;
}

.grey {
  background-color: #f5f5f5;
}
/*#endregion color company*****/

#review > div > div {
  width: calc(100% / 3);  
}


#review .left-company > div > *,
#review .right-company > div > * {
  width: calc(100% / 2);
  padding: 60px;

}
#review .left-company > div > *:hover,
#review .right-company > div > *:hover {
  outline: 15px solid rgb(255, 255, 255, 0.5);
  outline-offset: -15px;
} 
/*#endregion review*****/

/*#region bigtext2*****/
#bigtext2 {
  padding: 80px 0px;
  color: purple;
}
#bigtext2 h2 {
  font-size: 3rem;
}
#bigtext2 > div {
  max-width: 1080px;
  margin: 0 auto;
  justify-content: space-around;
}
/*#endregion bigtext2*****/

/*#region faq*****/

#faq details {
  border-top: 1px solid black;
  padding: 3rem;
  line-height: 1.2rem;
  transition: height 0.4s linear;
  overflow: hidden;
}

#faq details[open] {
  height: 250px;
}

#faq details:not([open]) {
  height: 10px;
}

#faq summary {
  list-style: none;
  position: relative;
}

#faq summary {
  cursor: pointer;
  font-weight: bold;
}

/*#region MARKER ROTATION*****/
#faq summary::after {
  content: "▶";
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(180deg);
  transition: transform 500ms ease;
}
#faq details[open] summary:after {
  transform: rotate(90deg);
}

/*#endregion MARKER ROTATION*****/

#faq details p {
  margin-top: 1rem;
}

#faq h2 {
  margin-bottom: 70px;
}

#faq:last-child {
  border-bottom: 1px solid black;
}

/*#endregion faq*****/

/*#region footer*****/
footer {
  height: 80vh;
  background-color: rgb(14, 14, 14);
  color: white;
  margin-top: 110px;
}

footer > div {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 70px;
}

footer li {
  list-style: none;
  margin: 0.8rem;
  font-size: 0.8rem;
}

footer ul li:first-child {
  font-size: 1.1rem;
  font-weight: 800;
  margin-bottom: 20px;
}

footer hr {
  max-width: 10%;
  margin-bottom: 50px;
}
/*#endregion footer*****/


html, body{
  scroll-behavior: smooth !important;
}
