* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  scroll-behavior: smooth !important;
}

/*#region UTILITIES */
.clearfix {
  clear: both;
}

/*#region column size*****/
.col-10 {
  width: 100%
}

.col-9 {
  width: 90%

}

.col-8 {
  width: 80%
}

.col-7 {
  width: 70%
}

.col-6 {
  width: 60%
}

.col-5{
  width: 50%
}

.col-4 {
  width: 40%
}

.col-3 {
  width: 30%
}
.col-2{
  width: 20%
}
.col-1 {
  width: 10%
}
/*#endregion column size*****/
.w-100 {
  width: 100%;
}

/*#region margin size*****/
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 4rem;
}
/*#endregion margin size*****/

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}
.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.wrap {
  flex-wrap: wrap;
}
.grow {
  flex-grow: 1;
}

.max-width {
  width: 100%;
}

.white {
  color: #fff;
}
.black {
  background-color: #23272a !important;
  color: white !important;
}
.fontlarge {
  color: #23272a;
  font-size: 28px;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
}
.flex-end {
  justify-content: flex-end;
}
.flex-around {
  justify-content: space-around;
}
.flex-between {
  justify-content: space-between;
}
.flex-evenly {
  justify-content: space-evenly;
}
.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 150px
}
.red {
  background-color: red;
  color: white;
}
.green {
  color: green;
}

.margin-5 > * {
  margin: 5px;
}
.margin-10 > * {
  margin: 10px;
}
.margin-15 > * {
  margin: 15px;
}
.margin-right-5 > * {
  margin-right: 5px;
}
.margin-right-10 > * {
  margin-right: 10px;
}
.margin-right-15 > * {
  margin-right: 15px;
}
/*#endregion UTILITIES */
